*.qws
*.qdf
*.qgsimc
*.spd
*.done
*.summary
*.pin
*.sld
*.sof
*.smsg
*.json
qdb/
*.spf
*.tcl
*.hex
*.sv
*.bsf
*.cmp
*.html
*.ppf
*.qgsynthc
*.qip
*.xml
*.sopcinfo
*.rpt
*.vhd
*.csv
*.qpf
*.qsf
*.stp
*.tdf
*.meta
*.model
*.vo
*.sft
*.xrf
*.hdb
*.src
*.cdb
*.txt
*.sdc
*.bak

